*{
	margin: 0;
	padding: 0;
}
html{
	background-color: black;
}
li{
	list-style: none;
	text-align: center;
	padding: 20px;
	max-height: 1em;
	overflow: hidden;
	font-family: 'Share Tech Mono', monospace;

}
p{
	font-family: 'Share Tech Mono', monospace;
	text-align: left;
}
h1{
	font-family: 'Share Tech Mono', monospace;
	font-weight: 400;
}
h3{
	margin-top: 30px;
}
li:hover{
	color: blue;
	text-decoration: underline blue;
	border-bottom: blue solid 2px;
	transition: all 700ms;
	cursor: pointer;
}
.dropdDown:hover {
	max-height: 200%;
	transition: max-height 5000 ease-in-out;
}
.sub:hover {
	background-color: rgb(30, 166, 185);
	border: black solid 1px;
	border-radius: 8px;
	margin-top: 10px;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: blue;
	transition: all 700ms;
	cursor: pointer;
}
.main{
	width: 100%;
	height: 100vh;
	background-image: url("../media/pvzBg.jpg");
	background-size: cover;
	display: grid;
	grid-template-columns: 13% 87%;
	grid-template-rows: 100px 9fr .5fr;
	grid-template-areas:
		"head content"
		"nav content"
		"foot1 foot"
}
.head{
	grid-area: head;
	background-color: black;
	background-size: cover;
	background-position: center;
	/* position: absolute; */
}
.nav{
	grid-area: nav;
	color: white;
	background-color: black;
	border-right: white solid 1px;
}
.content{
	grid-area: content;
	overflow: scroll;
}
.foot1{
	height: 75px;
	grid-area: foot1;
	background-color: black;
}
.foot{
	grid-area: foot;
	background-color: black;
	border-top: solid white 1px;
	text-align: center;
	color: white;
}
.blizzard{
	height: 70px;
	width: 210px;
	position: relative;
	padding: 5px;
}
#logo{
	height: 100px;
	/* width: 152px; */
	width: 99%;
	/* object-fit: cover; */
	border-right: solid white 1px;
}
#pause{
	animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
	50%{
		background-color: rgb(30, 166, 185);
	}
	100%{
		background-color: black;
	}
}

/* ######Main Layout########## */
.cine{
	height: 100vh;
	width: 100vw;
	background-color: black;
}
#cinematic {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	/* background-position: center; */
	margin: 0;
	/* top: -130px;
	left: -260px; */
	}
.buttonContainer{
  position: absolute;
	display: flex;
	justify-content: flex-end;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
	.button {
  width: 200px;
  font-size: 18px;
	margin-left: 10px;
  padding: 10px;
  border: none;
  background: rgba(9, 9, 9, 0.59);
  color: #fff;
  cursor: pointer;
}
.button:hover {
	background-color: blue;
	transition: all 700ms;
}

/* ##############End Landing Page######### */

.articlePics{
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.bold{
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
}
.bold:hover{
	text-decoration: underline;
}
.newsArticles{
	text-align: justify;
}

#firstNews{
	height: 340px;
	text-align: center;
	font-size: 16pt;
}
.news{
	height: 200px;
	width: 75%;
	background-image: linear-gradient(to top, grey , white, grey);
	/* filter: blur(10px);
	-webkit-filter: blur(10px); */
	transition: all 800ms;
	border: solid white 2px;
	margin: 50px auto 100px auto;
	border-radius: 8px;
	padding: 30px 40px;
	text-align: justify;

}
#lotvLogo{
	margin-left: 200px;
	position: relative;
	opacity: 0;
	z-index: 0;
}
.news:hover {
	filter: blur(0px);
}
	/* ##########End of News CSS############ */
	.mainRaces{
		width: 100vw;
		height: 100vh;
		background-image: url("../media/pvzBg2.jpg");
		background-size: cover;
		display: grid;
		/* background-color: black; */
		grid-template-columns: 13% 87%;
		grid-template-rows: 100px 9fr .5fr;
		grid-template-areas:
			"head content"
			"nav content"
			"foot1 foot"
	}
	#sc2Logo{
		position: static;
		margin-left: 300px;
		opacity: 0;
	}
	#raceHeading{
		color: white;
		text-decoration: none;
		font-size: 40pt;
		margin-left: 280px;
		background: rgba(9, 9, 9, .6);
		border-radius: 5px;
		padding: 15px;
	}
	.slideShow{
		height: auto;
		width: 80%;
		transition: all 800ms;
		border-radius: 8px;
	}
	.slideShow:hover {
		filter: blur(0px);
	}
	.icons{
		margin-left: 50px;

	}
	.icons:hover {
		animation: right .5s ease-in-out forwards;
	}
	.buttonP {
	height: 100px;
	width: 200px;
	font-size: 18px;
	/* margin-left: 50px; */
	/* padding: 10px; */
	border: none;
	background: rgba(9, 9, 9, 1);
	color: #fff;
	cursor: pointer;
	border-top-left-radius: 300px;
	border-bottom-left-radius: 300px;
	margin-top: 80px;
	}
	.buttonP:hover{
		background-color: blue;
		transition: all 700ms;
	}
	.buttonN {
	height: 100px;
	width: 200px;
	font-size: 18px;
	margin-left: 50px;
	/* padding: 10px; */
	border: none;
	background: rgba(9, 9, 9, 1);
	color: #fff;
	cursor: pointer;
	border-top-right-radius: 300px;
	border-bottom-right-radius: 300px;
	margin-top: 80px;
	border: none;
	}
	.buttonN:hover {
		background-color: blue;
		transition: all 700ms;
	}
	#imageArray{
		display: flex;
		margin-left: 170px;
	}

/* #########End Races CSS############### */

.parentUnits{
	height: 100%;
	width: 100%;
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}
#allUnits, #allStats{
	height: 600px;
	width: 40%;
	background-image: linear-gradient(to top, grey , white, grey);
	/* filter: blur(10px);
	-webkit-filter: blur(10px); */
	transition: all 800ms;
	border: solid white 2px;
	margin: 50px auto 100px auto;
	border-radius: 8px;
	padding: 30px 40px;
	text-align: justify;
}
#allStats{
	height: 780px;
	font-size: 20pt;
	transition: all 700ms;
	display: inline-grid;
	justify-content: center;
}
#allUnits{
	height: 350px;
	width: 30%;
	margin-top: 100px;
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 50px 100px 100px 100px;
	justify-content: center;
	grid-template-areas:
	"center center"
	"one two"
	"three four"
	"five six"
}
.units{
	color: white;
	background-color: black;
	margin: 10px;
	text-align: center;
	border-radius: 5px;
}
.units:hover {
	background-color: blue;
	transition: all 700ms;
	cursor: pointer;
}
#previous:hover {
	animation: left .5s ease-in-out forwards;
}
@keyframes left{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}
#next:hover {
	animation: right .5s ease-in-out forwards;
}
@keyframes right{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}
/* ###################End Main Layout for Terran/Protoss/Zerg######### */
.mainZerg{
	width: 100vw;
	height: 100vh;
	background-image: url("../media/zergBG.jpg");
	background-size: cover;
	display: grid;
	grid-template-columns: 13% 87%;
	grid-template-rows: 100px 9fr .5fr;
	grid-template-areas:
		"head content"
		"nav content"
		"foot1 foot"
}

/* ###########End Zerg Layout################## */
.mainProtoss{
	width: 100vw;
	height: 100vh;
	background-image: url("../media/protossBG.jpg");
	background-size: cover;
	background-position: bottom;
	display: grid;
	grid-template-columns: 13% 87%;
	grid-template-rows: 100px 9fr .5fr;
	grid-template-areas:
		"head content"
		"nav content"
		"foot1 foot"
}
/* ###############End Protoss Layout#################### */
.mainTerran {
	width: 100vw;
	height: 100vh;
	background-image: url("../media/terranBG.jpg");
	background-size: cover;
	background-position: bottom;
	display: grid;
	grid-template-columns: 13% 87%;
	grid-template-rows: 100px 9fr .5fr;
	grid-template-areas:
		"head content"
		"nav content"
		"foot1 foot"
}
/* ##################End Terran Layout##################### */
.mainAbout {
	width: 100vw;
	height: 100vh;
	background-image: url("../media/tvzBG.jpg");
	background-size: cover;
	background-position: bottom;
	display: grid;
	grid-template-columns: 13% 87%;
	grid-template-rows: 100px 9fr .5fr;
	grid-template-areas:
		"head content"
		"nav content"
		"foot1 foot"
}
#names{
	/* text-align: center;; */
}
#pic{
	border: solid rgb(98, 106, 121) 3px;
	border-radius: 2px;
}
.firstImage{
	margin-left: 20%;
	text-align: center;
}
.center{
	/* text-align: center; */
	grid-area: center;
}
#one{
	grid-area: one;
}
#two{
	grid-area: two;
}
#three{
	grid-area: three;
}
#four{
	grid-area: four;
}
#five{
	grid-area: five;
}
#six{
	grid-area: six;
}
/* ###########Modal CSS########### */
#modal1{
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(59, 104, 193, 0.48);
	position: absolute;
	color: black;
	padding: 15px 15px;
}
#modal1A{
	height: 50px;
	width: 85px;
	margin-left: 300px;
	border-radius: 15px;
	display: flex;
	align-content: center;
	justify-content: center;
}
.modal1B{
	height: 580px;
	width: 900px;
	margin-left: 15%;
	font-size: 16pt;
	text-align: justify;
	overflow: scroll;
	padding: 35px 50px;
	position: relative;
	z-index: 2;
	background-image: linear-gradient(to top, grey , white, grey);
	border-radius: 15px;
	border: solid black 2px;
}
#modal2{
		height: 100%;
		width: 100%;
		display: none;
		background-color: rgba(59, 104, 193, 0.48);
		position: absolute;
		color: black;
		padding: 15px 15px;
}
#modal2A{
		height: 50px;
		width: 85px;
		margin-left: 300px;
		border-radius: 15px;
		display: flex;
		align-content: center;
		justify-content: center;
}
.modal2B{
		height: 580px;
		width: 900px;
		margin-left: 15%;
		font-size: 16pt;
		text-align: justify;
		overflow: scroll;
		padding: 35px 50px;
		position: relative;
		z-index: 2;
		background-image: linear-gradient(to top, grey , white, grey);
		border-radius: 15px;
		border: solid black 2px;
}
#modal3{
		height: 100%;
		width: 100%;
		display: none;
		background-color: rgba(59, 104, 193, 0.48);
		position: absolute;
		color: black;
		padding: 15px 15px;
}
#modal3A{
		height: 50px;
		width: 85px;
		margin-left: 300px;
		border-radius: 15px;
		display: flex;
		align-content: center;
		justify-content: center;
}
.modal3B{
		height: 580px;
		width: 900px;
		margin-left: 15%;
		font-size: 16pt;
		text-align: justify;
		overflow: scroll;
		padding: 35px 50px;
		position: relative;
		z-index: 2;
		background-image: linear-gradient(to top, grey , white, grey);
		border-radius: 15px;
		border: solid black 2px;
}
/* ##########End Modal################# */
#closeM{
	height: 50px;
	width: 100px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	background-color: rgb(131, 28, 28);
	cursor: pointer;

}
.newsList{
	text-align: justify;
	text-decoration: none;
}
