
*{
  margin: 0;
  padding: 0;
}
h1{
  color: white;
}
.main{
  width: 100vw;
  height: 100vh;
  background-color: rgb(85, 192, 237);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "box1 box2 box3"
  "box4 box5 box6"

}
#box1{
  grid-area: box1;
  background-color: rgb(242, 198, 11);
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 3fr 1fr;
  grid-template-areas:
  "box1a"
  "box1b"
}
#box1a{
  grid-area: box1a;
}
.homeStuff{
  width: 30%;
  text-align: center;
  margin: auto auto;
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  position: absolute;
}
#box1b{
  grid-area: box1b;
  border-top: white solid 1px;
  margin-left: 30px;
  margin-right: 30px;
}
#box2{
  grid-area: box2;
  background-color: rgb(231, 118, 25);
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 3fr 1fr;
  grid-template-areas:
  "box2a"
  "box2b"
}
#box2:hover {
  background-color: rgb(46, 50, 47);
  transition: background-color 250ms linear;
}
#box2a{
  grid-area: box2a;

}
#army{
  height: 250px;
  width: 185px;
  margin-left: 150px;
  margin-top: 50px;
  position: absolute;
}
.heading{
  margin-left: 30px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 300px;
}
.headingB{
  margin-left: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 300px;
}
.headingH{
  margin-right: 250px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: white;
  padding-top: 55px;
  line-height: 31px;
}
#name{
  font-weight: bold;
}
#box2b{
  grid-area: box2b;
  border-top: white solid 1px;
  margin-left: 30px;
  margin-right: 30px;
}
p{
  color: white;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  line-height: 42px;
}
#box3{
  grid-area: box3;
  background-color: red;
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 3fr 1fr;
  grid-template-areas:
  "box3a"
  "box3b"
}
#box3:hover {
  background-color: rgb(46, 50, 47);
  transition: background-color 250ms linear;
}
#box3a{
  grid-area: box3a;
}
#prism{
  height: 190px;
  width: 180px;
  margin-left: 165px;
  margin-top: 90px;
  position: absolute;
}
#box3b{
  grid-area: box3b;
  border-top: white solid 1px;
  margin-left: 30px;
  margin-right: 30px;
}
#box4{
  grid-area: box4;
  background-color: rgb(123, 200, 63);
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 3fr 1fr;
  grid-template-areas:
  "box4a"
  "box4b"
}
#box4:hover {
  background-color: rgb(46, 50, 47);
  transition: background-color 250ms linear;
}
#box4a{
  grid-area: box4a;
}
#pen{
  height: 225px;
  width: 220px;
  margin-left: 130px;
  margin-top: 65px;
  position: absolute;
}
#box4b{
  grid-area: box4b;
  border-top: white solid 1px;
  margin-left: 30px;
  margin-right: 30px;
}
#box5{
  grid-area: box5;
  background-color: rgb(40, 147, 235);
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 3fr 1fr;
  grid-template-areas:
  "box5a"
  "box5b"
}
#box5:hover {
  background-color: rgb(46, 50, 47);
  transition: background-color 250ms linear;
}
#box5a{
  grid-area: box5a;
}
#popcorn{
  height: 100px;
  width: 95px;
  margin-left: 140px;
  margin-top: 130px;
  padding-bottom: 50px;
  position: absolute;
}
#box5b{
  grid-area: box5b;
  border-top: white solid 1px;
  margin-left: 30px;
  margin-right: 30px;
}
#box6{
  grid-area: box6;
  background-color: rgb(135, 52, 180);
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: 3fr 1fr;
  grid-template-areas:
  "box6a"
  "box6b"
}
#box6:hover {
  background-color: rgb(46, 50, 47);
  transition: background-color 250ms linear;
}
#box6a{
  grid-area: box6a;
}
#yo{
  height: 130px;
  width: 130px;
  margin-left: 130px;
  margin-top: 135px;
  position: absolute;
}
#box6b{
  grid-area: box6b;
  border-top: white solid 1px;
  margin-left: 30px;
  margin-right: 30px;
}
